* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  display: block;
}

.navbar{
  height:70px;

  background:#0f0f0f;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 30px;

  border-bottom:1px solid #2f2f2f;

  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  text-decoration:none;
}

.logo h2{
  color:red;
  margin:0;
}

.search-container{
  display:flex;
  align-items:center;

  width:40%;
}

.search-container input{
  flex:1;

  padding:10px 15px;

  border:1px solid #333;

  background:#121212;

  color:white;

  border-radius:30px 0 0 30px;

  outline:none;
}

.search-container button{
  padding:10px 20px;

  border:none;

  background:#272727;

  color:white;

  cursor:pointer;

  border-radius:0 30px 30px 0;
}

.search-container button:hover{
  background:#3a3a3a;
}
.search-title{
  color:white;
  margin:20px;
}

.nav-links{
  display:flex;
  align-items: center;
  gap:18px;
}

.nav-links a{
  text-decoration:none;
  color:white;
}

.nav-links > a:first-child{
  background:#272727;
  padding:10px 18px;
  border-radius:25px;
  font-weight:600;
  transition:0.2s;
}

.nav-links > a:first-child:hover{
  background:#3a3a3a;
}
.user-info{
  display:flex;
  align-items:center;
  gap:10px;

  text-decoration:none;
  color:white;

  font-weight:600;
}

.nav-avatar{
  width:42px;
  height:42px;

  border-radius:50%;
  object-fit:cover;

  border:2px solid #333;
}
.logout-btn{
  background:#272727;

  color:white;

  border:none;

  padding:10px 18px;

  border-radius:25px;

  cursor:pointer;

  font-weight:600;

  transition:0.2s;
}

.logout-btn:hover{
  background:#ff0000;
}
.logo-text{
  color:#ff0000;
  margin:0;
  font-size:28px;
}
.sidebar{
  width:240px;

  height:calc(100vh - 70px);

  background:#0f0f0f;

  border-right:1px solid #272727;

  position:fixed;

  left:0;
  top:70px;

  padding:12px;

  overflow-y:auto;
}

.sidebar::-webkit-scrollbar{
  width:6px;
}

.sidebar::-webkit-scrollbar-thumb{
  background:#333;
  border-radius:10px;
}

.sidebar-item{
  display:flex;

  align-items:center;

  gap:16px;

  color:white;

  text-decoration:none;

  padding:12px 16px;

  border-radius:12px;

  margin-bottom:4px;

  transition:.2s;
}

.sidebar-item:hover{
  background:#272727;
}

.sidebar-item span:first-child{
  font-size:20px;
}

.sidebar-divider{
  height:1px;

  background:#272727;

  margin:15px 0;
}

.sidebar-section h4{
  color:#aaaaaa;

  margin:10px 16px;

  font-size:14px;
}
.video-grid {
  margin-left: 240px;

  padding: 24px;

  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(320px, 1fr));

  gap: 24px;
}

.video-card-link {
  text-decoration: none;
  color: white;
}

.video-card {
  background: #0f0f0f;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.25s ease;
  cursor: pointer;
}

.video-card:hover {
  transform: translateY(-5px);
}

.video-thumbnail {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.video-info {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: flex-start;
  background: #0f0f0f;
}

.channel-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.video-details {
  flex: 1;
}

.video-title {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 0;

  display: -webkit-box;
  
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.channel-name {
  font-size: 14px;
  color: #aaaaaa;
  margin-bottom: 4px;
}

.video-stats {
  font-size: 13px;
  color: #888888;
}

.player-page {
   background:#0f0f0f;
  min-height:100vh;
  color:white;
  padding:30px;
}

.player-main{
  max-width:1000px;
  margin:auto;
}

.player-container {
  max-width: 1000px;
  margin: auto;
}

.video-player {
  width: 100%;
  border-radius: 12px;
  background: black;
}

.video-title {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 600;
}

.video-meta {
  margin-top: 10px;
  color: #aaaaaa;
}

.video-description {
  margin-top: 20px;
  background: #1f1f1f;
  padding: 16px;
  border-radius: 10px;
  line-height: 1.6;
}

.player-loading {
  min-height: 100vh;
  background: #0f0f0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.upload-page {
  min-height: 100vh;
  background: #0f0f0f;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container {
  width: 600px;

  background: #1f1f1f;

  padding: 30px;

  border-radius: 12px;
}

.upload-container h1 {
  margin-bottom: 20px;
}

.upload-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.upload-container input,
.upload-container textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.upload-container textarea {
  min-height: 120px;
  resize: vertical;
}

.upload-container button {
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.video-infos{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:20px;
}

.channel-info{
  display:flex;
  align-items:center;
  gap:15px;
}

.channel-avatar{
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit:cover;
}

.subscribe-btn{
  background:red;
  color:white;
  border:none;
  padding:12px 24px;
  border-radius:30px;
  cursor:pointer;
  font-weight:bold;
  transition:.2s;
}

.subscribe-btn:hover{
  transform:scale(1.05);
}

.description-box{
  margin-top:25px;
  background:#272727;
  padding:20px;
  border-radius:12px;
  line-height:1.6;
}

.player-loading{
  min-height:100vh;
  background:#0f0f0f;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
}
.action-buttons{
  margin-top:15px;
}

.like-btn{
  background:#272727;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:25px;
  cursor:pointer;
}

.login-page {
  min-height: 100vh;

  background: #0f0f0f;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.login-card {
  width: 420px;

  background: #181818;

  border: 1px solid #2a2a2a;

  border-radius: 18px;

  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  box-shadow:
    0 0 20px rgba(0,0,0,0.4);
}

.login-logo {
  text-align: center;

  color: #ff0000;

  font-size: 38px;

  margin-bottom: 10px;
}

.login-title {
  color: white;

  text-align: center;

  font-size: 28px;

  margin: 0;
}

.login-subtitle {
  text-align: center;

  color: #aaaaaa;

  font-size: 14px;

  margin-bottom: 10px;
}

.login-card input {
  background: #222;

  border: 1px solid #333;

  color: white;

  padding: 14px;

  border-radius: 10px;

  font-size: 15px;

  outline: none;
}

.login-card input:focus {
  border-color: #ff0000;
}

.login-btn {
  background: #ff0000;

  color: white;

  border: none;

  padding: 14px;

  border-radius: 10px;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.login-btn:hover {
  background: #cc0000;
}

.login-footer {
  text-align: center;

  color: #aaaaaa;

  font-size: 14px;
}

.login-footer span {
  color: #ff0000;

  cursor: pointer;

  margin-left: 5px;

  font-weight: 600;
}

.login-footer span:hover {
  text-decoration: underline;
}

.comments-section{
  margin-top:40px;
}

.comment-form{
  display:flex;
  gap:10px;
  margin-top:15px;
}

.comment-form input{
  flex:1;
  padding:12px;
  border:none;
  border-radius:8px;
}

.comment-form button{
  padding:12px 20px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.comments-list{
  margin-top:25px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.comment-card{
  background:#272727;
  padding:15px;
  border-radius:10px;
}

.comment-card h4{
  margin-bottom:8px;
}

.channel-link{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.channel-link:hover{
  color:#ff0000;
}

.channel-page{
  min-height:100vh;
  background:#0f0f0f;
  color:white;
  padding:40px;
}

.channel-header{
  display:flex;
  align-items:center;
  gap:30px;
}

.channel-avatar-large{
  width:150px;
  height:150px;
  border-radius:50%;
  object-fit:cover;
}

.channel-videos-title{
  margin-top:40px;
}

.channel-videos{
  margin-top:20px;

  display:grid;

  grid-template-columns:
    repeat(auto-fill,minmax(280px,1fr));

  gap:20px;
}

.channel-video-card{
  background:#1f1f1f;
  border-radius:10px;
  padding:10px;
}

.channel-video-card img{
  width:100%;
  border-radius:10px;
}

.channel-video-card h3{
  margin-top:10px;
}

.register-page{
  min-height:100vh;
  background:#0f0f0f;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:40px;
}

.register-card{
  width:450px;

  background:#1f1f1f;

  border-radius:16px;

  padding:30px;

  display:flex;
  flex-direction:column;

  gap:15px;

  color:white;

  box-shadow:
    0 0 25px rgba(0,0,0,.4);
}

.register-card h1{
  text-align:center;
  margin-bottom:10px;
}

.register-card input{
  padding:12px;

  border:none;

  border-radius:10px;

  font-size:15px;
}

.register-card label{
  font-size:14px;
  color:#ccc;
}

.register-card button{
  margin-top:10px;

  padding:14px;

  border:none;

  border-radius:10px;

  background:red;

  color:white;

  font-size:16px;

  font-weight:600;

  cursor:pointer;

  transition:.2s;
}

.register-card button:hover{
  transform:translateY(-2px);
}